/* Empty. Add your own CSS if you like */
.title {
	color:#737373 !important;
}
.custom-list-item {
 background: #5A5B5C !important;
 color:#fff !important;
 border: #5B6462 solid 1px!important;
}
.light{
 background: #333333 !important;
}
.custom-container {
 background: #333333 !important;
 border: #5B6462 solid 1px!important;
 color:#fff !important;
}

.top-bg-dark {
	background: #a64244 !important;

}

.text{
  margin: 5px;
  display: inline-block;
  font-size: 30px;
  vertical-align: middle;
}
.text-big {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 3px;
}

.text-small {
  font-size: 25px;
}

.calm-color {
 color: #D4D4D4;
}

.red-color {
 color: #E8772C;
}

.green-color {
 color: #84D26E;
}

.yellow-color {
 color: #FFFF00;
}

.blue-color {
 color: #5A91A5;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.logo {
	border: #5B6462 solid 1px!important;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ov450x');
  src:  url('fonts/icomoon.eot?ov450x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ov450x') format('truetype'),
    url('fonts/icomoon.woff?ov450x') format('woff'),
    url('fonts/icomoon.svg?ov450x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-connection:before {
  content: "\e901";
}
.icon-equalizer:before {
  content: "\e902";
}
.icon-stats-dots:before {
  content: "\e903";
}
.icon-list2:before {
  content: "\e904";
}
.icon-tree:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-circle-right:before {
  content: "\e907";
}

